body{
    position: relative;
    margin: 0;
    padding: 20px;
}    
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/menuback.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-repeat: no-repeat;
    z-index: -1;
}
fieldset{
    border: 2px solid #27ae60;
    padding: 5px;
    width: 50%;  
    box-shadow: 0 6px 15px green; 
    border-radius: 20px;
    background-color: rgba(50, 41, 41, 0.916);
}
.rest{
    text-align: center;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    cursor: pointer;  
    height: 200px;
}
h3{
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h5{
    color: azure;
    text-align: center;
}

legend {
    font-size: 1.5em;
    color: #27ae60;
    font-weight: bold;
}
span{
    border-style: solid;
    border-radius: 50px;
    background-color: wheat;
    padding: 3px;
}
.ri{
    text-align: right;
}
button{
    background-color: #ff6600;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: grabbing;
}
button:hover{
    transform: scale(1.08);
}
.right:hover{
    transform: scale(1.01);
    transition: 0.5s;
}
.left:hover{
    transform: scale(1.01);
    transition: 0.5s;
}
h2{
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}
h4{
    color: gold;
    font-size: larger;
    font-weight: bolder;
}
.food{
    text-align: center;
    margin: 10px 0;
}